.landing-page{
  background: white url("assets/img/bg-grocery.jpg") no-repeat scroll center;
  background-size: cover;
  height: 100vh;
  color: #fff;
}
.wrapper{
  background-color: rgba(0,0,0,0.7);
  height: 100%;
}
